<div class="grid-container">
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-1.jpg" alt="NotFound">
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-2.jpg" alt="NotFound">
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-3.jpg" alt="NotFound">
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-4.jpg" alt="NotFound">
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-5.jpg" alt="NotFound">
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-6.jpg" alt="NotFound">
  </div>
</div>
