<div class="grid-container">
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-1.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>Aneurysm Simulation</h3></div>
    </div>
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-2.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>Benchmarks</h3></div>
    </div>
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-3.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>Microswimmer Simulation</h3></div>
    </div>
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-4.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>Particulate Flow</h3></div>
    </div>
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-5.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>2-Phase Flow Coiling</h3></div>
    </div>
  </div>
  <div class="grid-item ">
    <img src="./assets/gallery/gallery-6.jpg" alt="NotFound">
    <div class="cell-overlay">
      <div class="cell-overlay-desc"> <h3>Virtual Windtunnel</h3></div>
    </div>
  </div>
</div>
