<mat-toolbar>
  <div>
  <button mat-icon-button>
    <mat-icon>apps</mat-icon>
    FeatFloWer
  </button>
  </div>
  <!-- This fills the remaining space of the current row

  -->
  <span class="log">
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/graph">Graph</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
    <li>
      <a routerLink="/karusell">Slideshow</a>
    </li>
    <li>
      <a routerLink="/portfolio">Portfolio</a>
    </li>
  </ul>
  </span>
  <div>
  <button mat-stroked-button>Sign In</button>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
